<app-menu></app-menu>
<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-12">
            <h1 class="titulo">Cadastro de Usuários</h1>
            <h2 class="subtitulo">Gerencie usuários | Adicione, edite, ou exclua</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- <app-button class="float-end" style="width: 84px!important;" textButton="Cadastrar"></app-button> -->
            <button class="botao-primario float-end" style="min-width: 84px!important;">Cadastrar</button>

            <!--Elemento de filtro-->
            <mat-form-field>
                <mat-label>Filtrar Busca</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Digite a sua busca" #input>
            </mat-form-field>

            <!--Tabela -->
            <div class="example-container mat-elevation-z8">

                <mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort>

                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <mat-header-cell class="th-table" *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                        <mat-cell class="td-table" *matCellDef="let user"> {{user.firebaseId}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell class="th-table" *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
                        <mat-cell class="td-table" *matCellDef="let user"> {{user.name}} </mat-cell>
                    </ng-container>

                    <!-- E-mail Column -->
                    <ng-container matColumnDef="email">
                        <mat-header-cell class="th-table" *matHeaderCellDef mat-sort-header> E-mail </mat-header-cell>
                        <mat-cell class="td-table" *matCellDef="let user"> {{user.email}} </mat-cell>
                    </ng-container>

                    <!-- Cargo Column -->
                    <ng-container matColumnDef="role">
                        <mat-header-cell class="th-table" *matHeaderCellDef mat-sort-header> Cargo </mat-header-cell>
                        <mat-cell class="td-table" *matCellDef="let user"> {{user.role}} </mat-cell>
                    </ng-container>

                    <!-- Benefícios Column -->
                    <ng-container matColumnDef="benefits">
                        <mat-header-cell class="th-table" *matHeaderCellDef mat-sort-header> Benefícios </mat-header-cell>
                        <mat-cell class="td-table" *matCellDef="let user">
                            @if (user.healthPlan || user.dentalPlan) {
                            <mat-icon class="c-primary">Check</mat-icon>

                            }


                            @if (!user.healthPlan && user.dentalPlan) {
                            <mat-icon class="c-error">remove</mat-icon>
                            }

                        </mat-cell>
                    </ng-container>

                    <!-- Acções Column -->
                    <ng-container matColumnDef="actios">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                        <mat-cell class="td-table" *matCellDef="let user"> 
                            <mat-icon class="icone-tabela">Visibility</mat-icon>
                            <mat-icon class="icone-tabela">Edit</mat-icon>
                            <mat-icon class="icone-tabela">Delete</mat-icon>
                        
                        
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                </mat-table>

                <mat-paginator [pageSizeOptions]="[3, 5, 7]" aria-label="Selecione usuários por página"></mat-paginator>
            </div>
        </div>
    </div>
</div>