<nav class="sidemenu">
    <ul>
      <li>
        <img src="../../../assets/logo.png" alt="Logomarca página" width="40px">
        <span class="logo">CRUD USERS</span>
      </li>
      <li routerLink="home"><mat-icon>home</mat-icon>Home</li>
      <li routerLink="/usuarios"><mat-icon>person_add</mat-icon>Cadastrar usuários</li>
      <a href="" target="_blank"><li><mat-icon>local_fire_department</mat-icon>Firebase</li></a>
      <a href="" target="_blank"><li><mat-icon>cloud</mat-icon>Angular</li></a>
      <li routerLink="/login" class="logout"><mat-icon>logout</mat-icon>Sair</li>
    </ul>
  </nav>
  