<div class="area-login-background d-none d-md-block"></div>

<div class="area-form">
    <form action="">
        <h1 class="titulo">USER SIGNUP MANAGMENT</h1>
        <h2 class="subtitulo">Mais eficiência no controle de usuários</h2>
        <input class="input-form" type="text" placeholder="Digite o seu nome" [(ngModel)]="userName" [ngModelOptions]="{standalone : true}">
        <app-button textButton="Submeter" (click)="login()" class="w-100 text-center"></app-button>
    </form>


    <p class="footer mt-4"> 2024 | developed by  © João Lopes </p>
</div>